*.egg-info/
*.__pycache__/
*.png
*.csv

mlagents_plugin/config/logs_immagini/

# macOS
.DS_Store

# Python cache
__pycache__/
results/
myenv/
*.pyc
mlagents_trainer_plugin.egg-info/
!3Dball.yaml
!Basic.yaml
!BasicLLM.yaml
!BasicLLMProva.yaml

# Ignora le build di Unity (Mac)
*.app/
# Ignora le build di Unity (Windows/Linux)
*.exe
*.x86_64
# Ignora i log del bug oracle
bug_log.csv
# Ignora i metadati di Python
*.egg-info/
__pycache__/

peppedati.py
react_agent.py
mlagents_train.py
mlagents_train_two.py