*.egg-info/
*.__pycache__/
*.png

mlagents_plugin/config/logs_immagini/

# macOS
.DS_Store

# Python cache
__pycache__/
results/
myenv/
*.pyc
mlagents_trainer_plugin.egg-info/
!3Dball.yaml
!Basic.yaml
!BasicLLM.yaml
!BasicLLMProva.yaml